.topnav {
  background-color: #15614f;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link a,
.nav-link a:focus,
.nav-link a:hover {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin: 10px;
  font-family: Hans Kendrick Trial;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -0.2px;
}

.nav-logo a,
.nav-logo a:focus,
.nav-logo a:hover {
  font-size: 26px;
  letter-spacing: 5px;
}

.page-links {
  display: flex;
  margin-left: 20px;
}

.social-links {
  display: flex;
  margin-right: 20px;
}
