<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Bootstrap -->

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/14885fa0c3.js" crossorigin="anonymous"></script>
    <!-- FontAwesome -->

    <link rel="stylesheet" href="{{ url_for("static", filename="style.css", _external=True) }}" />
    <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico", _external=True) }}">
    <title>{% block title %}{% endblock %} - KPFFL</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for("home") }}">KPFFL</a>
        </div>
        <div id="main-navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for("rules") }}">Rules</a></li>
            <li><a href="{{ url_for("teams") }}">Teams</a></li>
            <!--<li><a href="{{ url_for("rankings") }}">Rankings</a></li>-->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if session.get("profile") == None %}
              <li><a href="{{ url_for("login") }}">Login</a></li>
            {% else %}
              <li><a href="{{ url_for("chat") }}">
                <!--<span class="glyphicon glyphicon-comment"></span>-->
                <i class="fas fa-comments"></i>
              </a></li>
              <li><a href="{{ url_for("meet") }}">
                <!--<span class="glyphicon glyphicon-facetime-video"></span>-->
                <i class="fas fa-video"></i>
              </a></li>
              {% if not session.get("isOwner", False) %}
                <li><a href="{{ url_for("sync") }}">Verify</a></li>
              {% endif %}
              <li><a href="{{ url_for("logout") }}">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="container">{% block content %}{% endblock %}</div>
    <!-- Content -->

    <!-- Footer -->
    <footer class="footer">
      <div class="container">

        <!-- Copyright -->
        <p class="text-muted text-center">
          © 2020 Copyright: <a href="https://github.com/redreceipt">Michael Neeley</a>
        </p>
        <!-- Copyright -->

      </div>
    </footer>
    <!-- Footer -->

    <!-- Bootstrap -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
</html>
