{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!--<div class="text-center">-->
  <!--<h1>Check back soon!</h1>-->
  <!--<img src="{{ url_for("static", filename="img/logo.svg", _external=True) }}"-->
  <!--alt="logo" height="300" width="300" />-->
<!--</div>-->
<div class="row">
  <div class="col-lg-8">
    <h5>
      Matchups
    </h5>
    <table class="w-100">
    {% for matchup in matchups %}
      <tr>
        <td class="text-left align-text-bottom">
          <h6>
            {{ matchup[0]["team"]["name"] }}
          </h6>
        </td>
        <td class="text-center align-text-bottom">
          <div class="row">
            <div class="col text-right">
              <strong> {{ matchup[0]["score"] }} </strong>
            </div>
            <div class="col-1 text-center">
              -
            </div>
            <div class="col text-left">
              <strong> {{ matchup[1]["score"] }} </strong>
            </div>
          </div>
        </td>
        <td class="text-right align-text-bottom">
          <h6>
            {{ matchup[1]["team"]["name"] }}
          </h6>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
