{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Sign in with Sleeper credentials</h2>
<form method="post">
  <div class="mb-2">
    <input
      type="email"
      class="form-control"
      name="email"
      placeholder="Email"
    />
  </div>
  <div class="mb-2">
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
    />
  </div>
  {% if src %}
    <input type="hidden" name="src" value="{{ src }}" />
  {% endif %}
  <button type="submit" class="btn btn-secondary mb-2">Submit</button>
</form>
{% if error %}
<p class="text-danger">There was a problem with your login, try again.</p>
{% endif %}
{% endblock %}
