{% extends "base.html" %} {% block title %}Rankings{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <h5>
      Coaches Poll
      {% if not voting %}
      <small>
        {% if not user_id %}
          (<a href="{{ url_for("login") }}">Login to Vote</a>)
        {% else %}
          (<a href="{{ url_for("rankings", subpath="vote") }}">Vote</a>)
        {% endif %}
      </small>
      {% endif %}
    </h5>
    {% if voting %}
    <form method="post">
      <div id="teams">
        {% for team in rankings["cp"]["teams"] %}
        <div class="form-group form-inline mt-2 mb-2">
          <input
            class="form-control mr-4 col-2"
            name="{{ team["id"] }}"
            type="number"
            min="1"
            max="12"
            required
          />
          {{ team["name"] }}<small> ({{ team["owner"] }})</small>
        </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
    {% else %}
      {% if rankings["cp"]["numVotes"] < 6 %}
        <p>Need {{ 6 - rankings["cp"]["numVotes"] }} more votes to show the rankings<p>
      {% else %}
        <table class="table">
        {% for team in rankings["cp"]["teams"] %}
          <tr><td>
            {{ team["rank"] }}
            {% if team["topVotes"] > 0 %}
              ({{ team["topVotes"] }})
            {% endif %}
          </td><td>
            {{ team["name"] }}<small> ({{ team["owner"] }})</small>
          </td><tr>
        {% endfor %}
        </table>
      {% endif %}
    {% endif %}
  </div>
  <div class="col-lg-6">
    <h5>
      Standings
    </h5>
    <table class="table">
    {% for team in rankings["standings"]["teams"] %}
      <tr>
        <td>
          {{ team["name"] }}<small> ({{ team["owner"] }})</small>
        </td>
        <td class="w-40">
          {{ team["stats"]["w"] }}-{{ team["stats"]["l"] }}&nbsp;
          ({{ team["stats"]["pf"] }})
        </td>
      <tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endblock %}

{% block javascript %}
 <script>

   function sortInputs(e) {
     // make sure input is valid
     if (e.target.value < 1 || e.target.value > 12) {
       e.target.value = ""
       return
     }

     // check for duplicates
     const inputs = document.querySelectorAll(".teamInput")
     const values = [...inputs]
       .map((input) => input.value)
       .filter((value) => value === e.target.value)
     if (values.length > 1) {
       e.target.value = ""
       return
     }

     // swap rankings
     const teams = document.querySelectorAll(".team")
     const currentNdx = [...teams].findIndex((team) => team.querySelector(".teamInput").name === e.target.name)
     const swapNdx = e.target.value - 1

     const temp = document.createElement("div")
     teams[currentNdx].replaceWith(temp)
     teams[swapNdx].replaceWith(teams[currentNdx])
     temp.replaceWith(teams[swapNdx])
   }

   // add event listeners to the inputs to check for validity
   const inputs = document.querySelectorAll(".teamInput")
   inputs.forEach((input) => input.addEventListener("blur", sortInputs))

 </script>
{% endblock %}
