{% extends "base.html" %} {% block title %}Rankings{% endblock %} {% block
content %}
<div class="row">
  <div class="col-md-4">
    <h4>
      Standings {% if rankings["standings"]["league"]["status"] != "in_season"
      %}
      <small>(Last Season)</small>
      {% endif %}
    </h4>
    <table class="table table-hover">
      <tr>
        <th></th>
        <th>Team</th>
        <th>Record</th>
      </tr>
      {% for team in rankings["standings"]["teams"] %}
      <tr>
        <td>
          {% if team["postSeasonIcon"] %}
            <i class="fas fa-{{team["postSeasonIcon"]}}"></i>
          {% endif %}
        </td>
        <td>{{team["name"]}}</td>
        <td>{{team["record"]}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-4">
    <h4>
      Coaches Poll
      <small> 
        {% if rankings["cp"]["week"] == 0 %}
          (Preseason)
        {% else %}
          (Week {{rankings["cp"]["week"]}})
        {% endif %}
      </small>
    </h4>
    {% if rankings["cp"]["numVotes"] < 6 %}
      <h1 class="text-center"><strong>
          {{6 - rankings["cp"]["numVotes"]}}
      </strong></h1>
      <h2 class="text-center">votes needed</h2>
    {% else %}
      <table class="table table-hover">
        <tr>
          <th>Rank</th>
          <th>Team</th>
        </tr>
        {% for team in rankings["cp"]["teams"] %}
        <tr>
          <td>{{team["rank"]}}</td>
          <td>{{team["name"]}}
            {% if team["topVotes"] > 1 %}
              ({{team['topVotes']}})
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
</div>
{% endblock %}
