{% extends "base.html" %} {% block title %}Rankings{% endblock %} {% block
content %}
<div class="row">
  <div class="col-md-4">
    <h4>
      Standings {% if rankings["standings"]["league"]["status"] != "in_season"
      %}
      <small>(Last Season)</small>
      {% endif %}
    </h4>
    <table class="table table-hover">
      <tr>
        <th></th>
        <th>Team</th>
        <th>Record</th>
      </tr>
      {% for team in rankings["standings"]["teams"] %}
      <tr>
        <td>
          {% if team["postSeasonIcon"] %}
            <i class="fas fa-{{team["postSeasonIcon"]}}"></i>
          {% endif %}
        </td>
        <td>{{team["name"]}}</td>
        <td>{{team["record"]}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
