{% extends "base.html" %} {% block title %}Sync{% endblock %} {% block content
%}
<h2>Sign in with Sleeper credentials</h2>
<div class="text-center">
  <form method="post">
    <div class="form-group col-md-4">
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Email"
      />
    </div>
    <div class="form-group col-md-4">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}
